.questionForm, .answerForm {
    display: flex;
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 5px; 
    font-size: 30px;
    font-family: sans-serif;
    justify-content: center;
    flex-grow: 1;
  }
  .questionForm form, .answerForm form{
    margin: 0 auto; 
  }
  .questionForm label, .answerForm label{
    display: block; 
    margin: 10px 0 5px; 
  }
  .questionForm input[type="text"], .questionForm textarea,
  .answerForm input[type="text"], .answerForm textarea {
    width: 100%; 
    min-width: 700px;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #6c6c6c;
  }
  .questionForm textarea, .answerForm textarea {
    height: 200px; 
  }
  .questionForm .post-box, .answerForm .post-box {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .questionForm button, .answerForm button {
    background-color: #007BFF; 
    color: white; 
    padding: 12px 15px; 
    border: 2px solid #000000; 
    font-size: 18px;
    cursor: pointer; 
    align-self: flex-start;
  }
  .questionForm button:hover, .answerForm button:hover {
    background-color: #0056b3; 
  }
  .questionForm .required-text, .answerForm .required-text {
    color: red; 
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end; 
  }