.profile {
    flex-grow: 1;  
    font-family: sans-serif;
    
}

.profileText {
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

.contentWrapper {
    position: absolute;
    display: flex; 
    height: 100vh; 
    width: 100%; 
}
.profileSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 2px solid #ccc;
   
    padding: 40px;
}
.questionBannerProfile{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    /* padding: 10px;  */
    border-bottom: 3px dotted #000000;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
    font-family: sans-serif;
    margin: 0px 0px;  
    padding: 40px;
}