.tagBanner {
    display: flex; 
    justify-content: space-between; 
    padding: 40px; 
    align-items: flex-start;
}

.leftSectionTags {
    display: flex; 
    flex-direction: column;
    gap: 40px; /* 420px */
}

.allTagsText {
    font-weight: bold;
    font-size: 28px;
    color: #000000;
    font-family: sans-serif;
    margin: 0px 0px;  
}

.tagCountText {
    font-size: 24px; 
    color: #000000; 
    font-family: sans-serif;
}